body
{
    background-color: grey;
}

nav
{
    background-color: teal;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
}

#example-relative
{
    background-color: red;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 70px;
}

#hola
{
    background-color: green;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 70px;
    padding: 5px 5px 5px 5px;
}